.vscode/
**/*.pyc
homo/
lumo/
pbht/
Ax-0.1.13/
botorch-0.3.0/
gpytorch/
**/*.py.swp
**/*.py.bak
ax-homo-*/
ax-lumo-*/
ax-pbht-*/
ax-rate-*/
ax-splitting-*/
ax-strength-*/
**/*.pkl
slurm-outputs/
Theano-master/
*.txt
*.pdf
*.svg